<div ng-include="'app/foo/templates/fab.html'"></div>
<div class="max-height-and-width">
	<md-virtual-repeat-container class="max-height-and-width">
		<div layout="row" layout-wrap>
			<div class="repeated-item"  md-virtual-repeat="item in album.dataset" md-item-size="2" md-on-demand="true" flex="33" flex-xs="100" flex-sm="50">
				<md-card class="md-whiteframe-8dp">
	        		<img ng-src="{{item.url}}" class="md-card-image" style="height:300px!important"/>
			        <md-card-title>
			          <md-card-title-text>
			            <span class="md-headline">{{item.title}}</span>
			          </md-card-title-text>
		            </md-card-title>
		            <md-card-actions layout="row" layout-align="end center">
			          <md-button href="/image/{{item.id}}">Open</md-button>
			        </md-card-actions>
		        </md-card>
	        </div>
    	</div>
    	<div ng-include="'app/foo/templates/footer.html'"></div>
	</md-virtual-repeat-container>
</div>
