<div layout="column" ng-cloak="" style="position: absolute; top:0; left:0">
  <div class="lock-size" layout="row" layout-align="left">
    <md-fab-speed-dial md-open="false" md-direction="right" ng-class="'md-fling'">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          <md-icon md-svg-src="assets/img/ic_menu_white_24px.svg"></md-icon>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
          <md-icon md-svg-src="assets/img/ic_home_black_24px.svg" aria-label="Home"></md-icon>
          <md-tooltip md-visible="false" md-direction="down">
          Home
          </md-tooltip>
        </md-button>
        <md-button aria-label="Facebook" href="http://google.com" class="md-fab md-raised md-mini" target="_blank">
          <md-icon md-svg-src="assets/img/google.svg" aria-label="Google"></md-icon>
          <md-tooltip md-visible="false" md-direction="down">
          Google
          </md-tooltip>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
</div>