@import "variables";
@import "imports";

.text-capitalize {
  text-transform: capitalize; }
.md-fab:hover, .md-fab.md-focused {
  background-color: lightblue !important; }
p.note {
  font-size: 1.2rem; }
.lock-size {
  width: 300px;}
 body{
 	margin: auto;
 	max-width: 960px;
 	text-align: center
 }
 footer{
 	background-color: silver;
 }
 .max-height-and-width{
 	height: 100%;
 	max-width: 960px;
 }
 .image-important{
 	height: 300px!important;
 }
